{% include 'header.html' %}
  </div>

  <!-- welcome section -->
  <section class="welcome_section layout_padding">
    <div class="container">
      <div class="custom_heading-container">
        <h2>
          Selamat Datang di CV Kainan Jaya Mandiri
        </h2>
      </div>
      <div class="layout_padding2">
        <div class="img-box">
          <img src="{{ url_for('static', filename='images/KJM.png')}}" alt=""/>
        </div>
        <div class="detail-box">
          <p>
            CV Kainan Jaya Mandiri merupakan badan usaha non hukum yang berfokus pada bidang pengadaan barang dan atau jasa untuk
            para pelanggan setianya. Visi kami menjadi supplier terbesar yang dapat memenuhi permintaan barang dan atau jasa di tingkat Nasional dan Internasional.
            Misi kami dengan memberikan barang dan atau jasa yang berkualitas, memenuhi semua jenis barang dan jasa yang diperlukan, serta pengiriman yang ekspres
            dengan harga yang bersaing.
          </p>
          <div>
            <a href="">
              Visi Misi
            </a>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- end welcome section -->



  <div class="footer_bg">
    <!-- info section -->
    <section class="info_section layout_padding2-bottom">
      <div class="container">
        <h3 class="">
          Kainan Jaya Mandiri
          <h4 style="color: white ;">
            email kami di cvkainanjayamandiri@gmail.com
          </h4>
        </h3>
      </div>
      <div class="container info_content">

        <div>
          <div class="row">
            <div class="col-md-6 col-lg-4">
            </div>
          </div>
        </div>
        <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center align-items-lg-baseline">
          <div class="social-box">
            <a href="">
              <img src="images/fb.png" alt=""/>
            </a>

            <a href="">
              <img src="images/twitter.png" alt=""/>
            </a>
            <a href="">
              <img src="images/linkedin1.png" alt=""/>
            </a>
            <a href="">
              <img src="images/instagram1.png" alt=""/>
            </a>
          </div>
          <div class="form_container mt-5">
            <form action="">
              <label for="subscribeMail">
                Newsletter
              </label>
              <input type="email" placeholder="Enter Your email" id="subscribeMail"/>
              <button type="submit">
                Subscribe
              </button>
            </form>
          </div>
        </div>
      </div>

    </section>

    <!-- end info_section -->

    {% include 'footer.html' %}