    <!-- footer section -->
    <section class="container-fluid footer_section">
        <p>
          © 2022 All Rights Reserved By
          <a href="https://html.design/">Free Html Templates</a><br>
          <a href="https://bit.ly/3eOvER6">Edited by Adithya Muzalian Rosdyanto</a>
        </p>
      </section>
      <!-- footer section -->
    </div>
  
  
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js')}}"></script>
  
  
  
  </body></html>