<body class="sub_page">
  {% include 'header.html' %}
  </div>
  
<!-- service section -->
  <section class="service_section">
    <div class="container">
      <div class="custom_heading-container">
        <h2>
          Layanan Yang Kami Sediakan
        </h2>
      </div>
      <div class="service_container layout_padding2">
        <div class="service_box">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/sayur.png')}}" alt=""/>
          </div>
          <div class="detail-box">
            <h4>
              Sayuran Segar <br/>
              Non Pestisida
            </h4>
            <p>
              Sayuran terpilih yang disediakan adalah non pestisida sehingga dapat menjaga kesegaran dan kesehatan
              sayuran sekaligus. Hindari sayuran dari pestisida yang membahayakan pelanggan Anda yang berharga.
            </p>
          </div>
        </div>
        <div class="service_box">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/sembak.png')}}" alt=""/>
          </div>
          <div class="detail-box">
            <h4>
              Sembako Dengan Harga <br/>
              Terjangkau
            </h4>
            <p>
              Kebutuhan yang tidak akan pernah terlewatkan. Anda tetap bisa menjangkau dengan harga yang bersaing di pasar pengecer lainnya.
              Anda tidak perlu repot pergi ke satu pasar ke pasar lainnya. CV Kainan Jaya Mandiri menyediakan semua yang Anda butuhkan.
            </p>
          </div>
        </div>
        <div class="service_box">
          <div class="img-box">
            <img src="{{ url_for('static', filename='images/kurir.png')}}" alt=""/>
          </div>
          <div class="detail-box">
            <h4>
              Pengiriman <br/>
              Ekspres
            </h4>
            <p>
              Harga yang kami berikan sudah termasuk harga pengemasan dan pengiriman menuju tempat Anda. Kami mengerti bahwa waktu Anda
              tetap berjalan, namun banyak hal yang perlu Anda lakukan. Biarkan kami yang mengantarkan pesanan Anda.
            </p>
          </div>
        </div>
      </div>
      <div>
        <a href="">
          Read More
        </a>
      </div>
    </div>
  </section>

  <!-- end service section -->

  <div class="footer_bg">
    <!-- info section -->
    <section class="info_section layout_padding2-bottom">
      <div class="container">
        <h3 class="">
          Kainan Jaya Mandiri
          <h4 style="color: white ;">
            email kami di cvkainanjayamandiri@gmail.com
          </h4>
        </h3>
      </div>
      <div class="container info_content">

        <div>
          <div class="row">
            <div class="col-md-6 col-lg-4">
            </div>
          </div>
        </div>
        <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center align-items-lg-baseline">
          <div class="social-box">
            <a href="">
              <img src="{{ url_for('static', filename='images/fb.png')}}" alt=""/>
            </a>
            <a href="">
              <img src="{{ url_for('static', filename='images/twitter.png')}}" alt=""/>
            </a>
            <a href="">
              <img src="{{ url_for('static', filename='images/linkedin1.png')}}" alt=""/>
            </a>
            <a href="">
              <img src="{{ url_for('static', filename='images/instagram1.png')}}" alt=""/>
            </a>
          </div>
          <div class="form_container mt-5">
            <form action="">
              <label for="subscribeMail">
                Newsletter
              </label>
              <input type="email" placeholder="Enter Your email" id="subscribeMail"/>
              <button type="submit">
                Subscribe
              </button>
            </form>
          </div>
        </div>
      </div>

    </section>

    <!-- end info_section -->
    {% include 'footer.html' %}